* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;

}
body {
	background-color: rgb(230, 230, 230);
}
.container {

	margin: 0 0.6% 0 0.6%;
	background-color: rgb(230, 230, 230);
}
header {
    background-image: url(img/hatta1.jpg);
    background-size: cover; 
    height: 500px;
    background-repeat: no-repeat; 
    margin: 0px;


}
nav {
	top: 15px;
	right: 10px;
	width: 600px;
	padding: 14px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	display: inline-block;
}
nav ul {
	padding: 0 15px;
}
nav ul li {
	display: inline;
	font-size: 14px;
}
nav ul li a {
    color: #DAE1E7;
    text-decoration: none;
    padding: 12px;
    letter-spacing: 0.05em;
}
nav ul li a:hover, nav ul li a:focus {
    color: #00ff00;
}


.nav_list a {
	padding-right: 5px;
}
.fa {
	color: #DAE1E7;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: center;
}
  
.dropdown-content a {
	color: #DAE1E7;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.dropdown-content a:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
  
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.main_title {
	position: absolute;
	top: 300px;
	right: 25%;

	text-align: center;
	color:rgba(255, 255, 255, 0.8);
	letter-spacing: 0.05em;
}
.main_title h1 {
	font-weight: bold;
	font-size: 45px;
	height: 50px;
	margin-bottom: 3px;
}
.main_title h4 {
	font-weight: lighter;
	font-size: 17px;
	font-style: ; 
}
.main_title h2 {
	font-weight: bold;
	font-size: 25px;
}


.btn-group{
	 width: 166px;
	 margin: auto;
	 margin-bottom: 8px; 
	 margin-top: 5px;
}


.btn-group .button {
  background-color: rgb(179, 179, 179);
  border: none;
  color:rgba(255, 255, 255, 0.8);
  
  border-radius: 8px;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  
}

.btn-group .button:hover {
  background-color: rgb(166, 166, 166);
}

.img_grid {
	height: 379px;
	background-color: rgb(230, 230, 230);
	position: relative;
	display: inline-block;
    

}

.images {
  opacity: 1;
  display: inline-block;
  margin: 0 5px 0 5px;
  width: 97%;
  height: 80%;
  transition: .5s ease;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img_grid:hover .images {
  opacity: 0.4;
}

.img_grid:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  color:rgba(255, 255, 255, 0.8);
  font-size: 16px;
  padding: 4px 22px;
  border-radius: 18px;
  text-decoration: none;

}




.img_1 {
	background-image: url(img/image1.png);

}
.img_2 {
	background-image: url(img/image2.png);
	
}
.img_3 {
	background-image: url(img/image3.png);
	
}
.img_4 {
	background-image: url(img/image4.png);
	
}
.img_5 {
	background-image: url(img/image5.png);
	
}
.img_6 {
	background-image: url(img/image6.png);
	
}
.img_7 {
	background-image: url(img/image7.png);
	
}
.img_8 {
	background-image: url(img/image8.png);
	
}
.img_9 {
	background-image: url(img/image9.png);
	
}

aside {
	background-color: rgb(230, 230, 230);
	height: 1139.40px;

}
aside .side_menu {
	
	height: 98.5%;
	margin-left: 5px;
	
	
}


footer {
	background-color: white;
	height: 200px;
	margin: 7px 0px 0 0px;
	
	position: absolute;
	text-align: center;


}
.pirdiens {
	padding-right: 10px;
}
.lux_ic{
	height: 61px;
	margin-top: 6px;
}
.lux_img {
	background-image: url(img/lux1.png);
	height: 60px;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	background-repeat: no-repeat;
	
}

.ic_heading>h1 {
	font-weight: 400;
	letter-spacing: 0.08em;
	font-size: 43px;
	margin-top: -17px;
	font-style: italic;
	height: 45px;
	text-align: center;
}

.dots>h2 {
	color:  gold;
	margin-top: -18px;
	
}
.dots_heading>h4 {
	font-size: 12px;
	font-weight: lighter;
	margin-top: -10px;
}
.comodo h2{
	font-family: 'Great Vibes', cursive !important;
	font-size: 30px;
	font-weight: 300;
}
.lollzz {
	margin-top: 12px;
	height: 40px;
	background-color: black;
	color: white;


	
}
.lollzz>p {
	float: left;
	margin-top: 7px;
	margin-left: 7px;
}
.kilo {
	background-color: crimson;
}








.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float:left;
  padding:;
}


/* For mobile : */
[class*="col-"] {
  width: 100%;
}



@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-4_5 {width: 32.85%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}